@CHARSET "ISO-8859-1";

body
{
	background-image:url(texture7.jpg);
	background-repeat: repeat-x;
}


.text_tete
{
	color : red;
	font-size: 30px;
	text-align: center;
}

p
{
	line-height: 5em;
}

.style_menus
{
	width : 100%;
	height: 5em;
}

.presentation
{
	font-family: cursive;
	border: 3px blue dashed;
	width: 50%;
	float: left;
}

.test
{
	float: right;
	border: 3px blue dashed;
	width: 49%;

}

.menu1
{
	width: 49%;
}

img.photo_menu1
{
	display: block;
	top: 250px;
	width: 850px;
	height: 374px;
	left: 50%;
	margin-right: -100px;
}



.connexion a
{
	color: red;
	float: right;
	margin-top: -30px;
	margin-right: 20px;
	
}

.inscription a
{
	color: red;
	float: right;
	margin-top: -30px;
	margin-right: 20px;
}

.welcome
{
	color: blue;
	float: left;
	width: 500px;
}

img.logo
{
	position: absolute; 
	top: 0px;
	left: 0px;
	height: 190px; 
	width: 100%; 	
}

img.camion
{
	position:absolute;
	top: 2px;
	right : 50px;
}


.menu 
{
	padding:0 0 0 1em; 
	margin:0; 
	list-style:none; 
	height:43px; 
	position:relative; 
	background:transparent url(images/back.gif) repeat-x left top; 
	font-size:11px;
	margin-top: 100px;
}

.menu li 
{
	float:left; 
	height:43px;
}

.menu li a 
{
	display:block; 
	float:left; 
	height:40px; 
	line-height:35px; 
	color:#888; 
	text-decoration:none; 
	font-family:arial, verdana, sans-serif; 
	font-weight:bold; 
	text-align:center; 
	padding:0 0 0 10px; 
	cursor:pointer; 
	background:url(images/0a.gif) no-repeat;
}

.menu li a b 
{
	float:left; 
	display:block; 
	padding:0 80px 0 0; 
	background:url(images/0.gif) no-repeat right top;
}

.menu li.current a 
{
	color:#000; 
	background:url(images/2a.gif) no-repeat;
}


.menu li.current a b 
{
	color:#000; 
	background:url(images/2.gif) no-repeat right top;
}

.menu li a:hover 
{
	color:#000; 
	background: url(images/2a.gif) no-repeat;
}

.menu li a:hover b 
{
	color:#000; 
	background:url(images/2.gif) no-repeat right top;
}

.menu li.current a:hover 
{
	color:#000; 
	cursor:default;
}